{% set form = hookable_metadata.context.form %}
{% set method = hookable_metadata.context.method %}

{% if form.parent.parent['ppl_data_' ~ method.code] is defined and form.parent.parent['ppl_data_' ~ method.code] %}
    {% set pplDataField = form.parent.parent['ppl_data_' ~ method.code] %}
    {% set inputId = pplDataField.vars.id %}
    {% set buttonId = inputId ~ '_button' %}
    {% set modalId = inputId ~ '_modal' %}
    {% set countriesOption = pplDataField.vars.attr['data-allowed-countries']|default('')|lower %}
    {% set defaultCountry = pplDataField.vars.attr['data-default-country']|default('cz')|lower %}
    {% set latitude = pplDataField.vars.attr['data-lat']|default('50.0755') %}
    {% set longitude = pplDataField.vars.attr['data-lng']|default('14.4378') %}
    {% set selectedCode = pplDataField.vars.attr['data-selected-code']|default(null) %}
    {% set language = app.request.locale in ['cs', 'en'] ? app.request.locale : 'cs' %}

    <div class="w-100 mt-3">
        {# Check if this method is currently selected #}
        {% set isMethodSelected = form.parent.parent.vars.data
            and form.parent.parent.vars.data.method
            and form.parent.parent.vars.data.method.code == method.code %}

        <button type="button"
                id="{{ buttonId }}"
                class="btn btn-outline-secondary btn-sm"
                data-ppl-button
                data-method-code="{{ method.code }}"
                {{ not isMethodSelected ? 'disabled' : '' }}
                onclick="openPplModal('{{ modalId }}')">
            {% if pplDataField.vars.attr['data-label'] is defined and pplDataField.vars.attr['data-label'] is not empty %}
                {{ pplDataField.vars.attr['data-label'] }}
            {% else %}
                {{ 'threebrs.shop.checkout.shippingStep.choosePplParcelShop'|trans }}
            {% endif %}
        </button>
    </div>

    {# Modal for PPL widget #}
    <div id="{{ modalId }}" class="modal fade" tabindex="-1" aria-hidden="true"
         data-ppl-input-id="{{ inputId }}" data-ppl-button-id="{{ buttonId }}" data-ppl-modal-id="{{ modalId }}">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'threebrs.shop.checkout.shippingStep.choosePplParcelShop'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePplModal('{{ modalId }}')"></button>
                </div>
                <div class="modal-body" style="height: 70vh; min-height: 500px;">
                    <div id="ppl-parcelshop-map"
                         data-mode="default"
                         data-lat="{{ latitude }}"
                         data-lng="{{ longitude }}"
                         data-language="{{ language }}"
                         data-countries="{{ countriesOption }}"
                         data-country="{{ defaultCountry }}"
                         {% if selectedCode %}data-code="{{ selectedCode }}"{% endif %}
                         style="height: 100%; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

    {# Hidden field for JSON data #}
    {{ form_widget(pplDataField) }}
{% endif %}
