{% set order = hookable_metadata.context.resource %}
{% set shipment = order.shipments.last %}

{% if shipment is not null and (shipment.pplData is defined and shipment.pplData) %}
    <div>
        <strong>{{ 'threebrs.admin.pplParcelShop.title'|trans }}:</strong>
    </div>
    <div class="mb-3">
        <address class="mb-0">
            <strong>{{ shipment.pplData.name|default('') }}</strong><br>
            {% if shipment.pplData.parcelshopName is defined and shipment.pplData.parcelshopName %}
                {{ shipment.pplData.parcelshopName }}<br>
            {% endif %}
            {% if shipment.pplData.street is defined %}{{ shipment.pplData.street }}<br>{% endif %}
            {% if shipment.pplData.city is defined or shipment.pplData.zipCode is defined %}
                {{ shipment.pplData.city|default('') }}{% if shipment.pplData.zipCode is defined %}, {{ shipment.pplData.zipCode }}{% endif %}<br>
            {% endif %}
            {% if shipment.pplData.country is defined and shipment.pplData.country %}
                {{ shipment.pplData.country|upper|sylius_country_name|default(shipment.pplData.country|upper) }}
            {% endif %}
        </address>
    </div>
{% elseif shipment is not null and (shipment.pplKTMID is defined and shipment.pplKTMID) %}
    <div>
        <strong>{{ 'threebrs.admin.pplParcelShop.title'|trans }}:</strong>
    </div>
    <div class="mb-3">
        <address class="mb-0">
            <strong>{{ shipment.pplKTMname|default('') }}</strong><br>
            {{ shipment.pplKTMaddress|default('') }}<br>
            <small class="text-muted">ID: {{ shipment.pplKTMID }}</small>
        </address>
    </div>
{% endif %}
